<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.siqisource.stone.dict.mapper.DictItemMapper">

<insert id="insert" parameterType="org.siqisource.stone.dict.model.DictItem"  useGeneratedKeys="true" keyProperty="id">
INSERT INTO st_dict_item (
	label ,
	value ,
	sort_no ,
	remark ,
	dict_code 
) VALUES (
	#{label ,jdbcType=VARCHAR },
	#{value ,jdbcType=VARCHAR },
	#{sortNo ,jdbcType=INTEGER },
	#{remark ,jdbcType=VARCHAR },
	#{dictCode ,jdbcType=VARCHAR }
)
</insert>


<insert id="insertPartitive" parameterType="map">
	INSERT INTO st_dict_item  
		(${fields._insertFields}) 
	VALUES 
		(${fields._insertValues})
</insert>

<select id="read" parameterType="map" resultType="org.siqisource.stone.dict.model.DictItem">
	SELECT * FROM st_dict_item   	 
	WHERE
	id = #{id[0]} 
</select>
	  
<select id="count" parameterType="map" resultType="int">
	SELECT count(1) FROM  st_dict_item   
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</select>
	  
<select id="list" parameterType="map" resultType="org.siqisource.stone.dict.model.DictItem">
	SELECT * FROM  st_dict_item   
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
	<if test="condition.orderBy != null">
		${condition.orderBy}
	</if>  
</select>

<update id="update" parameterType="org.siqisource.stone.dict.model.DictItem">
	UPDATE st_dict_item SET 
	 	label = #{label ,jdbcType=VARCHAR } ,
	 	value = #{value ,jdbcType=VARCHAR } ,
	 	sort_no = #{sortNo ,jdbcType=INTEGER } ,
	 	remark = #{remark ,jdbcType=VARCHAR } ,
	 	dict_code = #{dictCode ,jdbcType=VARCHAR } 
	WHERE 
	id = #{id,jdbcType=INTEGER} 
</update>
	
<update id="updatePartitive" parameterType="map" >
	UPDATE  st_dict_item 
	SET ${fields._updateSql}
	WHERE 
	id = #{id[0]} 
</update>
	  
<update id="updateBatch" parameterType="map" >
	UPDATE  st_dict_item   
	SET  ${fields._updateSql}
	<if test="condition.expressions != null ">
		<where> ${condition.comboedExpressions} </where>
	</if>		
</update>

<delete id="delete" parameterType="map" >
	DELETE FROM  st_dict_item   
	WHERE 
	id = #{id[0]} 
</delete>
	
<delete id="deleteBatch" parameterType="map" >
	DELETE FROM st_dict_item 
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</delete>
	
</mapper>