<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.siqisource.stone.security.mapper.TicketMapper">

<insert id="insert" parameterType="org.siqisource.stone.security.model.Ticket"  >
INSERT INTO st_ticket (
	ticket ,
	account 
) VALUES (
	#{ticket ,jdbcType=VARCHAR },
	#{account ,jdbcType=VARCHAR }
)
</insert>


<insert id="insertPartitive" parameterType="map">
	INSERT INTO st_ticket  
		(${fields._insertFields}) 
	VALUES 
		(${fields._insertValues})
</insert>

<select id="read" parameterType="map" resultType="org.siqisource.stone.security.model.Ticket">
	SELECT * FROM st_ticket   	 
	WHERE
</select>
	  
<select id="count" parameterType="map" resultType="int">
	SELECT count(1) FROM  st_ticket   
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</select>
	  
<select id="list" parameterType="map" resultType="org.siqisource.stone.security.model.Ticket">
	SELECT * FROM  st_ticket   
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
	<if test="condition.orderBy != null">
		${condition.orderBy}
	</if>  
</select>

<update id="update" parameterType="org.siqisource.stone.security.model.Ticket">
	UPDATE st_ticket SET 
	 	ticket = #{ticket ,jdbcType=VARCHAR } ,
	 	account = #{account ,jdbcType=VARCHAR } 
	WHERE 
</update>
	
<update id="updatePartitive" parameterType="map" >
	UPDATE  st_ticket 
	SET ${fields._updateSql}
	WHERE 
</update>
	  
<update id="updateBatch" parameterType="map" >
	UPDATE  st_ticket   
	SET  ${fields._updateSql}
	<if test="condition.expressions != null ">
		<where> ${condition.comboedExpressions} </where>
	</if>		
</update>

<delete id="delete" parameterType="map" >
	DELETE FROM  st_ticket   
	WHERE 
</delete>
	
<delete id="deleteBatch" parameterType="map" >
	DELETE FROM st_ticket 
	<if test="condition.expressions != null ">
		<where>${condition.comboedExpressions}</where>
	</if>		
</delete>
	
</mapper>
