<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.siqisource.stone.config.mapper.ConfigMapper">

	<select id="readConfigEntity" parameterType="map"
		resultType="org.siqisource.stone.config.model.ConfigEntity">
		SELECT * FROM st_config
		WHERE
		code = #{code} AND
		class_code = #{classCode}
	</select>

</mapper>